.input {
    display: flex;
    align-items: baseline;

    input {
        margin: 0px 10px 0px 0px;
        height: 20px;
        width: 150px;
        padding: 10px 15px 10px 15px;
        border: none;
    }

    input:active {
        border: none;
    }
}