.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image img{
        width: 90%;
    }

    &__info{
        margin-top: 50px;
    }

    &__info h5{
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    &__rating{
        margin-bottom: 10px;
    }

    &__price span{
        font-size: 18px;
        font-weight: bold;
    }
}

//star rating
.star {
    color: rgb(255, 178, 13);
    font-size: 22px;
    margin-right: 15px;
}

.star0:before{
    content : '☆☆☆☆☆';
}

.star1:before {
    content : '★☆☆☆☆'
}

.star2:before {
    content : '★★☆☆☆'
}

.star3:before {
    content : '★★★☆☆'
}

.star4:before {
    content : '★★★★☆'
}

.star5:before {
    content : '★★★★★'
}